{% extends "base.html" %}
{% block content %}
<h2>欢迎使用自动化小程序</h2>
{% endblock %}
<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--&lt;!&ndash; 新 Bootstrap 核心 CSS 文件 &ndash;&gt;-->
    <!--<link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">-->

    <!--<link rel="stylesheet" type="text/css" href="static/css/sweetalert.css">-->

    <!--&lt;!&ndash; 可选的Bootstrap主题文件（一般不使用） &ndash;&gt;-->
    <!--<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>-->
    <!--&lt;!&ndash; jQuery文件。务必在bootstrap.min.js 之前引入 &ndash;&gt;-->
    <!--<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>-->
    <!--&lt;!&ndash; 最新的 Bootstrap 核心 JavaScript 文件 &ndash;&gt;-->
    <!--<script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <!--<script src="static/js/sweetalert.min.js"></script>-->

    <!--<script src="static/js/echarts.js"></script>-->
    <!--<script >-->
        <!--$(function () {-->

             <!--$("#red_href a").click(function(e){-->
                 <!--e.preventDefault();-->
                 <!--var href = $(this).attr("href");-->
                 <!--if(href && "#" != href){-->
                     <!--$.post(href,function(data){-->
                         <!--$("#content_banner").html(data);-->
                     <!--});-->
                 <!--}-->
              <!--});-->
        <!--});-->
    <!--</script>-->

    <!--<meta charset="UTF-8">-->
    <!--<title>AuTo 666</title>-->
<!--</head>-->
<!--<body>-->
    <!--<nav class="navbar navbar-default" role="navigation">-->
        <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="#">AutoScripts</a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<ul class="nav navbar-nav" id="red_href" contenteditable="false">-->
                <!--<li><a href="/welcome">首页</a></li>-->
                <!--<li><a href="/hosts_info">主机管理</a></li>-->
                <!--<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">主机监控 <b class="caret"></b></a>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="/hosts_graph">监控概况</a></li>-->
                    <!--<li class="divider">&nbsp;</li>-->
                    <!--<li><a href="/hosts_monitor">监控详情</a></li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown disabled"><a class="dropdown-toggle" data-toggle="dropdown" href="#">待完善 <b class="caret"></b></a>-->
                <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">操作</a></li>-->
                    <!--<li><a href="#">设置栏目</a></li>-->
                    <!--<li><a href="#">更多设置</a></li>-->
                    <!--<li class="divider">&nbsp;</li>-->
                    <!--<li><a href="#">分割线</a></li>-->
                <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
    <!--</nav>-->
    <!--&lt;!&ndash;{% with messages = get_flashed_messages() %}&ndash;&gt;-->
    <!--&lt;!&ndash;{% if messages %}&ndash;&gt;-->
    <!--&lt;!&ndash;<ul>&ndash;&gt;-->
    <!--&lt;!&ndash;{% for message in messages %}&ndash;&gt;-->
        <!--&lt;!&ndash;<li>{{ message }} </li>&ndash;&gt;-->
    <!--&lt;!&ndash;{% endfor %}&ndash;&gt;-->
    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
    <!--&lt;!&ndash;{% endif %}&ndash;&gt;-->
    <!--&lt;!&ndash;{% endwith %}&ndash;&gt;-->
<!--<div id="content_banner"></div>-->
<!--</body>-->
<!--</html>-->